body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333333; }

a {
  text-decoration: none; }

header {
  background-color: #0252cc; }
  header .logo-container {
    max-width: 67.625rem;
    margin: 0 auto; }
    header .logo-container img {
      height: 1rem;
      margin: 0.9375rem 2.75rem; }

.video-archive-body {
  max-width: 67.625rem;
  margin: 0 auto; }
  .video-archive-body .video-archive-body-inner {
    margin: 0 2.75rem; }
    .video-archive-body .video-archive-body-inner > h1,
    .video-archive-body .video-archive-body-inner > h2 {
      text-align: center;
      width: 100%; }
    .video-archive-body .video-archive-body-inner > h1 {
      margin-top: 3.125rem;
      font-weight: normal;
      color: #273758; }
      .video-archive-body .video-archive-body-inner > h1 img {
        width: 13.125rem;
        margin-right: 0.625rem; }
    .video-archive-body .video-archive-body-inner > h2 {
      margin: 2.1875rem 0 4.6875rem;
      color: #707070;
      font-weight: normal; }
    .video-archive-body .video-archive-body-inner .video-archive-content {
      display: flex; }
      .video-archive-body .video-archive-body-inner .video-archive-content .session-content-container {
        margin-top: 3.75rem; }

.tab-bar {
  display: flex; }
  .tab-bar a {
    background-color: #f5f5f5;
    border: 0.0625rem #cccccc solid;
    border-right: none;
    padding: 0.9375rem 1.25rem;
    color: black;
    text-decoration: none; }
    .tab-bar a:first-child {
      border-top-left-radius: 0.625rem; }
    .tab-bar a:last-child {
      border-right: 0.0625rem #cccccc solid;
      border-top-right-radius: 0.625rem; }
    .tab-bar a.selected {
      background-color: white;
      border-bottom: none; }
  .tab-bar::after {
    content: '';
    border-bottom: 0.0625rem #cccccc solid;
    flex: 1; }

.sessions-nav-container {
  margin-right: 3.125rem; }
  .sessions-nav-container > h3 {
    color: #091e42;
    margin-top: 3.125rem; }
  .sessions-nav-container .sessions-nav {
    margin: 1.25rem 0 0.625rem;
    width: 18.125rem; }
    .sessions-nav-container .sessions-nav a {
      border-top: 0.0625rem solid #cccccc;
      display: block;
      padding: 1.125rem 0.625rem; }
      .sessions-nav-container .sessions-nav a h4, .sessions-nav-container .sessions-nav a p {
        margin: 0;
        padding: 0; }
      .sessions-nav-container .sessions-nav a h4 {
        color: #091e42; }
      .sessions-nav-container .sessions-nav a p {
        color: #707070;
        margin-top: 0.3125rem;
        font-size: 0.9375rem; }
      .sessions-nav-container .sessions-nav a.selected {
        background-color: #f5f5f5; }
      .sessions-nav-container .sessions-nav a:last-child {
        border-bottom: 0.0625rem solid #cccccc; }

.session-content h4 {
  font-size: 1.875rem;
  color: #091e42; }

.session-content h5 {
  font-size: 1.5625rem;
  color: #091e42;
  margin: 2.1875rem 0 0 0; }

.session-content .top-speakers-listing {
  margin: 1.875rem 0 1.5625rem; }
  .session-content .top-speakers-listing .speaker-listing {
    font-weight: bold;
    color: #091e42;
    margin: 0.625rem 0; }

.session-content .sessions-video-link {
  display: block;
  color: #0252cc;
  margin-top: 1.875rem; }

.session-content .speaker-listing {
  margin-top: 2.1875rem; }
  .session-content .speaker-listing .name {
    font-weight: bold; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header .logo-container {
    width: 100%;
    text-align: center; }
  .tab-bar-container {
    position: relative; }
    .tab-bar-container .tab-bar {
      width: 100%;
      overflow-x: scroll;
      position: relative; }
      .tab-bar-container .tab-bar a:last-child {
        padding-right: 1.5625rem;
        border-top-right-radius: 0; }
    .tab-bar-container::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
      width: 1.5625rem;
      height: 100%;
      border: none;
      flex: unset; }
  .video-archive-body .video-archive-body-inner > h2 {
    margin: 1.5625rem 0 1.875rem; }
  .video-archive-body .video-archive-body-inner .video-archive-content {
    flex-direction: column; }
    .video-archive-body .video-archive-body-inner .video-archive-content .session-content-container {
      margin-top: 2.1875rem; }
  .sessions-nav-container {
    margin: 0;
    position: relative; }
    .sessions-nav-container::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
      width: 1.5625rem;
      height: 100%; }
    .sessions-nav-container .sessions-nav {
      display: flex;
      width: 100%;
      overflow-x: scroll; }
      .sessions-nav-container .sessions-nav a {
        flex: 0 0 10.9375rem;
        border-bottom: 0.0625rem solid #cccccc; }
        .sessions-nav-container .sessions-nav a:last-child {
          padding-right: 1.5625rem; } }
