@import "../../node_modules/sass-rem/rem";

$nav-background-color: #f5f5f5;
$nav-border-color: #cccccc;
$slate: #091e42;
$text-gray: #707070;

body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
}

header {
  background-color: #0252cc;

  .logo-container {
    max-width: rem(1082px);
    margin: 0 auto;

    img {
      height: rem(16px);
      margin: rem(15px 44px);
    }
  }
}

.video-archive-body {
  max-width: rem(1082px);
  margin: 0 auto;

  .video-archive-body-inner {
    margin: rem(0 44px);

    & > h1,
    & > h2 {
      text-align: center;
      width: 100%;
    }
    
    & > h1 {
      margin-top: rem(50px);
      font-weight: normal;
      color: #273758;

      img {
        width: rem(210px);
        margin-right: rem(10px);
      }
    }
    
    & > h2 {
      margin: rem(35px 0 75px);
      color: $text-gray;
      font-weight: normal;
    }

    .video-archive-content {
      display: flex;

      .session-content-container {
        margin-top: rem(60px);
      }
    }
  }
}

.tab-bar {
  display: flex;

  a {
    background-color: $nav-background-color;
    border: rem(1px) $nav-border-color solid;
    border-right: none;
    padding: rem(15px 20px);
    color: black;
    text-decoration: none;

    &:first-child {
      border-top-left-radius: rem(10px);
    }

    &:last-child {
      border-right: rem(1px) $nav-border-color solid;
      border-top-right-radius: rem(10px);
    }
    
    &.selected {
      background-color: white;
      border-bottom: none;
    }
  }

  &::after {
    content: '';
    border-bottom: rem(1px) $nav-border-color solid;
    flex: 1;
  }
}

.sessions-nav-container {
  margin-right: rem(50px);

  > h3 {
    color: $slate;
    margin-top: rem(50px);
  }

  .sessions-nav {
    margin: rem(20px 0 10px);
    width: rem(290px);

    a {
      border-top: rem(1px) solid $nav-border-color;
      display: block;
      padding: rem(18px 10px);

      h4, p {
        margin: 0;
        padding: 0;
      }

      h4 {
        color: $slate;
      }

      p {
        color: $text-gray;
        margin-top: rem(5px);
        font-size: rem(15px);
      }

      &.selected {
        background-color: $nav-background-color;
      }

      &:last-child {
        border-bottom: rem(1px) solid $nav-border-color;
      }
    }
  }
}

.session-content {
  h4 {
    font-size: rem(30px);
    color: $slate;
  }

  h5 {
    font-size: rem(25px);
    color: $slate;
    margin: rem(35px 0 0 0);
  }

  .top-speakers-listing {
    margin: rem(30px 0 25px);

    .speaker-listing {
      font-weight: bold;
      color: $slate;
      margin: rem(10px 0);
    }
  }

  .sessions-video-link {
    display: block;
    color: #0252cc;
    margin-top: rem(30px);
  }

  .speaker-listing {
    margin-top: rem(35px);

    .name {
      font-weight: bold;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  header .logo-container {
    width: 100%;
    text-align: center;
  }

  .tab-bar-container {
    position: relative;
    
    .tab-bar {
      width: 100%;
      overflow-x: scroll;
      position: relative;

      a:last-child {
        padding-right: rem(25px);
        border-top-right-radius: 0;
      }
    }
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      width: rem(25px);
      height: 100%;
      border: none;
      flex: unset;
    }
  }

  .video-archive-body {
    .video-archive-body-inner {
      & > h2 {
        margin: rem(25px 0 30px);
      }

      .video-archive-content {
        flex-direction: column;
    
        .session-content-container {
          margin-top: rem(35px);
        }
      }
    }
  }

  .sessions-nav-container {
    margin: 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      width: rem(25px);
      height: 100%;
    }

    .sessions-nav {
      display: flex;
      width: 100%;
      overflow-x: scroll;

      a {
        flex: 0 0 rem(175px);
        border-bottom: rem(1px) solid $nav-border-color;

        &:last-child {
          padding-right: rem(25px);
        }
      }
    }
  }
}